<div class="row">
    <div class="col-md-10">
        <div class="bg-light p-4">
            Advertisement
        </div>
        <div>
            <h2 class="text-center d-none d-sm-none d-md-block d-lg-block text-capitalize">
                <span *ngIf="topic?.title.indexOf('intro') !== -1; else templateName">
                    {{topic?.title}}
                </span>
                <ng-template #templateName>
                    {{skill}} {{topic?.title}}
                </ng-template>
            </h2>

            <h4 class="text-center d-sm-block d-md-none d-lg-none text-capitalize">
                <span *ngIf="topic?.title.indexOf('intro') !== -1; else templateName">
                    {{topic?.title}}
                </span>
                <ng-template #templateName>
                    {{skill}} {{topic?.title}}
                </ng-template>
            </h4>
            <div class="d-none d-md-block">
                <div class="d-flex">
                    <a role="button" class="btn btn-outline-primary mt-2" *ngIf="previousTopic"
                        [routerLink]="['/tutorials/', skill, previousTopic?.slug]">
                        <span *ngIf="previousTopic.title.indexOf('intro') !== -1; else templateName">
                            Introduction
                        </span>
                        <ng-template #templateName>
                            {{previousTopic?.title}}
                        </ng-template>
                    </a>

                    <a role="button" class="btn btn-outline-primary mt-2 ml-auto" *ngIf="nextTopic"
                        [routerLink]="['/tutorials/', skill, nextTopic?.slug]">{{nextTopic?.title}}</a>
                </div>
            </div>
            <div>
                <div class="d-flex d-md-none">
                    <a role="button" class="btn btn-outline-primary mt-2 btn-sm" *ngIf="previousTopic"
                        [routerLink]="['/tutorials/', skill, previousTopic?.slug]">
                        <span *ngIf="previousTopic.title.indexOf('intro') !== -1; else templateName">
                            Introduction
                        </span>
                        <ng-template #templateName>
                            {{previousTopic?.title}}
                        </ng-template>
                    </a>

                    <a role="button" class="btn btn-outline-primary mt-2 ml-auto btn-sm" *ngIf="nextTopic"
                        [routerLink]="['/tutorials/', skill, nextTopic?.slug]">{{nextTopic?.title}}</a>
                </div>
            </div>

            <hr />
            <article class="clearfix">
                <p [innerHTML]="markedContent"></p>
            </article>
            <hr />
        </div>
        <div class="bg-light p-4">
            Advertisement
        </div>
        <div class="d-none d-md-block">
            <div class="d-flex">
                <a role="button" class="btn btn-outline-primary mt-2" *ngIf="previousTopic"
                    [routerLink]="['/tutorials/', skill, previousTopic?.slug]">{{previousTopic?.title}}</a>

                <a role="button" class="btn btn-outline-primary mt-2 ml-auto" *ngIf="nextTopic"
                    [routerLink]="['/tutorials/', skill, nextTopic?.slug]">{{nextTopic?.title}}</a>
            </div>
        </div>
        <div>
            <div class="d-flex d-md-none">
                <a role="button" class="btn btn-outline-primary mt-2 btn-sm" *ngIf="previousTopic"
                    [routerLink]="['/tutorials/', skill, previousTopic?.slug]">{{previousTopic?.title}}</a>

                <a role="button" class="btn btn-outline-primary mt-2 ml-auto btn-sm" *ngIf="nextTopic"
                    [routerLink]="['/tutorials/', skill, nextTopic?.slug]">{{nextTopic?.title}}</a>
            </div>
        </div>
        <hr />

        <h3>Recommendations</h3>
        <hr />

        <div class="bg-light p-4 mb-1">
            Advertisement
        </div>
    </div>
    <div class="col-md-2 d-none d-sm-none d-md-block d-lg-block">
        Advertisement
    </div>
</div>