<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <ul class="nav flex-column" id="tutorialsNavSidebar">
                <li class="nav-item">
                    <a class="nav-link text-capitalize">
                        {{title}} <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" *ngFor="let topic of topics | async">
                    <a class="nav-link text-capitalize" [routerLink]="['/tutorials/', skill, topic.slug]">
                        <span *ngIf="topic.title.indexOf('intro') !== -1; else templateName">
                            {{topic.title}}
                        </span>
                        <ng-template #templateName>
                            {{skill}} {{topic.title}}
                        </ng-template>
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="col-sm-12 col-md-2 d-md-none mt-2">
            <div ngbDropdown>
                <button class="btn btn-outline-primary text-capitalize w-100 btn-sm" id="topicNavItem"
                    ngbDropdownToggle>{{title}}</button>
                <div ngbDropdownMenu aria-labelledby="topicNavItem">
                    <a class="dropdown-item text-capitalize" *ngFor="let topic of topics | async"
                        [routerLink]="['/tutorials/', skill, topic.slug]">
                        <span *ngIf="topic.title.indexOf('intro') !== -1; else templateName">
                            {{topic.title}}
                        </span>
                        <ng-template #templateName>
                            {{skill}} {{topic.title}}
                        </ng-template>
                    </a>
                </div>
            </div>
        </nav>
        <div class="col-md-10 col-sm-12 mt-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>