<div class="d-md-none fixed-top bg-light">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" [routerLink]="'/'">
                <img src="../../../assets/images/logo.png" height="40" class="d-inline-block align-top" alt="raptei">
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'/'">Tutorials<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="mt-2 container-fluid">
        <div ngbDropdown>
            <button class="btn btn-secondary text-capitalize w-100 btn-sm" id="topicNavItem"
                ngbDropdownToggle>{{title}}</button>
            <div ngbDropdownMenu aria-labelledby="topicNavItem">
                <a class="dropdown-item text-capitalize" *ngFor="let topic of topics | async"
                    [routerLink]="['/tutorials/', skill, topic.slug]"> {{skill}} {{topic.title}}</a>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid contentPadding">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <ul class="nav flex-column" id="tutorialsNavSidebar">
                <li class="nav-item">
                    <a class="nav-link text-capitalize">
                        {{title}} <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" *ngFor="let topic of topics | async">
                    <a class="nav-link text-capitalize" [routerLink]="['/tutorials/', skill, topic.slug]">
                        {{topic.title}}
                    </a>
                </li>
            </ul>
        </nav>

        <div class="col-md-10 col-sm-12 mt-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>